mat-card {
    width: 80%;
    margin: auto;

}

mat-form-field,
textarea {
    width: 100%
}

input[type='file']{
    visibility: hidden;
}

button {
    margin:5px;
}

image-preview {
    height: 100 px;
    margin: 1rem 0;
}

image-preview img{
    max-height: 100%;
}